version: '3.7'

services:
  go: &go
    build:
      context: .
      dockerfile: deployments/Dockerfile
      target: dev
    volumes:
      - .:/app
    environment:
      APP_DB_URL: "postgres://app:app@db:5432/app?sslmode=disable"

  api:
    <<: *go
    command: air
    ports:
      - "${APP_PORT:-8080}:8080"
    tty: true

  migrate:
    <<: *go
    entrypoint: scripts/migrate.sh

  shell:
    <<: *go
    command: bash

  db:
    image: postgres:12.1
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
